@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header {
  width: 100%;
  height: 237px;
  background-blend-mode: darken;
  background: url(../img/hockey_1.jpg) center no-repeat;
 background-color: #0000003e;
}
video {
  position: absolute;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: -2;
  height: 232px;
}

.container__line {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 59px;
}


.container__line h2, .container__description__title {
  color: #f8e02e;
  -webkit-text-stroke: 2px #a14a27;
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  padding: 8px 4px 3px 20px;
}
nav {
  padding: 10px 20px 1px 30px;
}

nav li {
  list-style: none;
  line-height: 60px;
  display: flex;
  flex-direction: row;
}

nav li a {
  text-decoration: none;
  color: #f8e02e;
  -webkit-text-stroke: 2px #a14a27;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding: 12px;
}


nav li a:active {
  color: brown;
}

.nav__link__active {
  text-decoration: none;
}
/* main */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030303;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  padding-bottom: 50px;
  
}
.container {
  height: 500px;
}

.details {
  padding-top: 43px;
  margin-bottom: 20px;
}
caption {

  font-size: 20px;
  font-style: italic;
  color: #f8e02e;
  -webkit-text-stroke: 0.8px #a14a27;
  margin-bottom: 18px;
}

.description__spacing {
  margin-bottom: 20px;
}

.description__spacing h2 {
  color: #f8e02e;
  -webkit-text-stroke: 1.5px #a14a27;
}
/* -------info */

.container__description {
  width: 50%;
  height: 52%;
  
}
.container__description h2{
  text-align: center;
}
.container__description .description__text {
  margin-bottom: 20px;
}

.description {
  padding-top: 30px;
}

.description__header, .description__play, .description__sport {
  margin-bottom: 30px;
  line-height: 36px;
}
.description__text{
  text-align: center;
}

strong {
  color: #f8e02e;
  -webkit-text-stroke: 1px #a14a27;
  font-size: 25px;
  
}
/* -----table------ */
table {
  margin-top: 60px;
  padding-bottom: 20px;
  border-collapse: collapse;
}


th {
  width: 30em;
  background-color: #f8e12ebc;
  color:black;
}
tr {
  background-color: #682b1fc0;
  color: white;
}
td:hover {
  background-color: #984624;
}
td,
th {
  padding: 2px;
  text-align: center;
}
blockquote {
  padding-left: 48px;
}

blockquote li {
  list-style-type: circle;
}

.container__info p {
  font-size: 20px;
  line-height: 31px;
  padding-top: 26px;
  padding-bottom:30px;
 
}


.container__info a {
  color: black;
  text-decoration: none;
}
/* --------contact------- */
.contact{
  text-align: center;
}
.contact a {
  color: #f8e02e;
  -webkit-text-stroke: 1.5px #a14a27;
  font-size: 30px;
  padding-bottom:30px;
}
/* ---------formulario-------- */

.container__form {
  margin-top: 50px;
  padding: 0px 30px 6px 30px;
  width: 60%;
  height: 100%;

}
fieldset{
  border: none;
}
.container__form input{
  border: none;
  outline: 0px;
}
span{
  border-bottom: 1px solid #0000004d;
}

.container__form__registration h1{
text-align: center;
color: #f8e02e;
-webkit-text-stroke: 1.5px #a14a27;

}
.form__container__name,.form__container__day{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form__label{
  padding: 0px 10px 0px 10px;
}
.form__input{
  background: none;
}
.form__container__name .form__label{
  padding-left:9px;
}
.form__container__address, .form__label__gender, .form__container__grade{
  
  text-align: center;

}

.form__input__address{
  width: 521px;
  background: none;
}

.form__container__day .form__input__date {
  width: 239px;
    text-align: center;

}
.form__input__date{
background-color: #e1e0e094;

}
.form__container__live, .form__container__position, .form__container__size, .form__container__text,.container__signature{
  padding: 11px 0px 16px 73px;
}
.form__container__live__father, .form__container__position__father, .form__container__size__father{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.form__container__text__father{
  width: 90%;
  padding-left: 10px;
}

.container__form__registration h2{
  padding-left: inherit;
}
iframe{
  width: 202px;
  height: 115px;
  border-radius: 9px;
}
/* ----------button-------------- */
.container__button{
  display: flex;
  justify-content: center;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7de2e;
  width: 200px;
  height: 37px;
  border: 2px solid #a14b28;
  border-radius: 7px;
  margin-top: 10px;
}
/* ---------footer --------------*/
.container__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.container__footer img {
  height: 120px;
  
}
